{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block extracss %}{% endblock %}
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <div class="container">
          <div class="masthead">
            <h3>{{ project_name }}</h3>
            <ul class="nav nav-justified">
              {% for item in contents %}
              <li><a href="">{{ item }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {% block content %}{% endblock %}

          <div class="footer">
            <p>Â© Company 2013</p>
          </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script> -->
        <!--     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]= -->
        <!--     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; -->
        <!--     e=o.createElement(i);r=o.getElementsByTagName(i)[0]; -->
        <!--     e.src='//www.google-analytics.com/analytics.js'; -->
        <!--     r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); -->
        <!--     ga('create','UA-XXXXX-X');ga('send','pageview'); -->
        <!-- </script> -->
    </body>
</html>
