<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Search Form</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Search Form</h1>
    {% if errors %}
      <ul>
        {% for error in errors %}
        <li style="color: #dd4b39">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="get" id="test1" action="">
      <input type="text" name="q" value="" />
      <input type="submit" name="" value="Search" />
    </form>
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
