{% extends "nori-base.html" %}
<!-- 加载自定义的插件 -->
{% load code_to_name %}
{% load staticfiles %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'nori/css/nori-search.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker.css' %}" type="text/css" media="screen" />
{% endblock%}

{% block extrajs %}
<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js' %}"></script>
<script src="{% static 'nori/js/helper.js' %}"></script>
<script src="{% static 'nori/js/nori-search.js' %}"></script>
{% endblock %}

{% block content %}
<h1>检索数据</h1>

<form method="post" id="search" action="">
{% csrf_token %}
{{ form }}
<input type="submit" name="" value="提交" />
</form>
{% if records %}
<table id="search_table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <!-- <td>节点编号</td> -->
      <td>传感器号</td>
      <td>传感器名称</td>
      <td>采集数据</td>
      <td>采集时间</td>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <!-- <td>{{ record.node_id }}</td> -->
      <td>{{ record.sensor_id }}</td>
      <td>{{ record.sensor_id|id_to_cn_name}}</td>
      <td>{{ record.data }}</td>
      <td>{{ record.insert_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<!-- <input id="draw" type="button" name="" value="绘制图形" /> -->
<div id="search_chart" style="width:100%;"></div> 
<p>双击图表可重置</p>
{% endblock %}
