{% extends "nori-base.html" %}

<!-- 加载自定义的插件 -->
{% load code_to_name %}

{% block extrajs%}
{% load staticfiles %}
<!-- <script src="{% static 'js/nori.js' %}"></script> -->
{% endblock %}

{% block content %}
<h1>实时数据监测</h1>
{% if nodes %}
{% for records in nodes %}
    <h2><a href="/nori/node/{{ records.0.node_id }}">节点{{ records.0.node_id }}</a></h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>传感器号</td>
          <td>传感器名称</td>
          <td>采集数据</td>
          <td>采集时间</td>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{ record.sensor_id }}</td>
          <td>{{ record.sensor_id|id_to_cn_name}}</td>
          <td>{{ record.data }}</td>
          <td>{{ record.insert_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endfor %}
{% else %}
   <p>现在还没有数据</p>
{% endif %}
{% endblock %}
