{% extends "nori-base.html" %}

{% block content %}
<div class="jumbotorn" style="text-align: center">
  <h1>紫菜生长环境监控系统</h1>
  <p class="lead">
    常熟理工学院
    <br/>
    常熟智胜信息有限公司
    <br />
    联合项目
  </p>
</div>
{% endblock %}
