{% extends "nori-base.html" %}

{% load code_to_name %}

{% block extrajs%}
{% load staticfiles %}
<!-- <script src="{% static 'js/nori.js' %}"></script> -->
<!-- <script src="{% static 'js/nori-morris.js' %}"></script> -->
<!-- <script src="{% static 'nori/js/nori-model.js' %}"></script> -->
<script src="{% static 'nori/js/helper.js' %}"></script>
<!-- <script src="{% static 'nori/js/parse-data.js' %}"></script> -->
<script src="{% static 'nori/js/nori-view.js' %}"></script>
{% endblock %}

{% block content %}
<h1 node_id={{ node_id }}>{{ node_id }}</h1>

<div id="realtime_chart"  class="chart"></div>
<table id="realtime_table" class="table table-bordered table-hover">
  <caption>实时数据</caption>
  <thead>
    <tr>
      <td>传感器号</td>
      <td>传感器名称</td>
      <td>采集数据</td>
      <td>采集时间</td>
    </tr>
  </thead>
  <tbody>
    {% for record in realtime_data %}
    <tr>
      <td>{{ record.sensor_id }}</td>
      <td>{{ record.sensor_id|id_to_cn_name}}</td>
      <td>{{ record.data }}</td>
      <td>{{ record.insert_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="today_chart" style="width: 100%" class="chart"></div>
<table id="history_table" class="table table-bordered table-hover">
  <caption>今日数据</caption>
  <thead>
    <tr>
      <td>传感器号</td>
      <td>传感器名称</td>
      <td>采集数据</td>
      <td>采集时间</td>
    </tr>
  </thead>
  <tbody>
    {% for node in nodes %}
    <tr>
      <td>{{ node.sensor_id }}</td>
      <td>{{ node.sensor_id|id_to_cn_name}}</td>
      <td>{{ node.data }}</td>
      <td>{{ node.insert_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- <p id="loading">获得<em>1</em>天前的数据</p> -->
<!-- <div id="history_chart" style="width: 100%; overflow: auto; position: relative"></div> -->
<!-- <button id="draw_history">绘制历史数据图</button> -->
{% endblock %}
