{% extends "base.html"%}

{% block content %}
    {% if form.error %}
        <p class="error">Sorry, that's not a vaild username or password</p>
    {% endif %}
    <form method="post" id="" action="">
      {% csrf_token %}
      <label>User name:</label>
      <input type="text" name="username" value="" id="username"/>
      <label>Password:</label>
      <input type="password" name="password" value="" id="password"/>

      <input type="submit" name="" value="login" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>

{% endblock%}
