<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Welcome</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>
  </head>
  <body>
    <h1>Welcome</h1>
    {% if user.is_authenticated %}
        <strong>{{ user.username }}</strong>
        <a href="{% url 'my_logout' %}">logout</a>
    {% else %}
        <p>Welcome, new user.Please login</p>
        <a href="{% url 'my_login' %}">login</a>
        <a href="{% url 'my_register' %}">register</a>
    {% endif %}
    
    <form method="post" id="" action="">
      {% csrf_token %}
      {{ form1 }}
      {{ form2 }}
      <input type="submit" name="" value="提交" />
    </form>
    {% load i18n %}
    <p>Have no Products?<a href="/">Skip</a></p>
    <footer>
      <address>
        <a href="mailto:creamidea@gmail.com">creamidea</a>
      </address>
    </footer>
  </body>
</html>
