{% extends "base.html" %}

{% load staticfiles %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/justified-nav.css' %}">
{% endblock %}

{% block content %}
<h1>Create a account</h1>
<form method="post" id="" action="">
  {% csrf_token %}
  {{ form.username.label }}
  {{ form.username }}
  {{ form.password1.label }}
  {{ form.password1 }}
  {{ form.password2.label }}
  {{ form.password2 }}
  {{ form.phone.label }}
  {{ form.phone }}
  <input type="submit" name="" value="创建" />
</form>
{% endblock %}
